<h3>Get in Touch</h3>
<p> Find us on the <a href="https://elekk.xyz">Mastodon</a> social network. </p>
<p>
   <strong>Banjo Fox</strong> - <a href="https://elekk.xyz/@banjofox">@banjofox@elekk.xyz</a><br/>
   <strong>Raspathir</strong> - <a href="https://elekk.xyz/@raspathir">@raspathir@elekk.xyz</a></p>
</p>
<p><a href="https://anchor.fm/letthediceroll/message">Leave us a voicemail</a> </p>
<p> We also have a Discord server! Which you can join <a href="https://discord.gg/32HgDXK">right here.</a> </p>
<p> Or you can send us an "old fashioned email". <a href="mailto:letthediceroll@protonmail.com">letthediceroll@protonmail.com</a>
