
<head>
    <meta charset="utf-8">
    {% capture 'page_description' %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.theme_data.description }}{% endif %}{% endcapture %}
    <title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.theme_data.title }}</title>
    <meta name="description" content="{{ page_description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-Frame-Options" content="sameorigin">
	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="/css/forkawesome-1.1.5/fork-awesome.min.css">
	
	<!--Favicon-->
	<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">

	<!-- Canonical -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- RSS -->
	<link rel="alternate" type="application/atom+xml" title="{{ site.theme_data.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<!-- Google Fonts -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet" type="text/css">
</head>
