<h3><em>Aardwolf powers social, connected communities with free software.</em></h3>

<p>Aardwolf is a new platform for creating new social networks, connected across the web. While existing social media sites work to funnel the world into a single shared experience (and advertising marketplace), we recognize that we are all individuals with different identities and interests.</p>

<p class=""><strong>Aardwolf is the engine behind a new Facebook-like social platform which is being actively developed.

<p>Aardwolf shares a philosophy and underlying protocols with <a href="http://joinmastodon.org">Mastodon</a>, a federated microblogging platform with over a 1000 independently-run servers, hosting more than a million active users.</p>

<h3>What's Different About Aardwolf?</h3>

<p>Aardwolf is a social platform, meaning that each server hosts it's own community of users who are posting, sharing pictures, links, etc. They are replying and &quot;liking&quot; each other's posts, and re-sharing the ones they like best.</p>

<p>Even better, Aardwolf is a <em>connected</em> (the technical term is &quot;federated&quot;) platform:  users are not  limited to only interacting with other users on their service: they can follow users on other sites that are powered by Aardwolf just as if they were on their own site. They can even connect with users on other platforms, if -- like the microblogging service <a href="http://joinmastodon.org">Mastodon</a> -- they implement the same free protocols Aardwolf is built on.</p>

<p>Finally, Aardwolf is <a href="https://github.com/aardwolf-social/aardwolf">free software</a>, which means that all code is publicly available, and developers who want to contribute or understand how it works can dig in and do so.</p>

<h3>Project Status</h3>

<p>The scaffolding is still being built, but the pieces are coming together much quicker than originally anticipated! A sample of the web interface should be online soon.<br />
If you would like to follow along Aardwolf development happens on <a href="https://github.com/aardwolf-social/aardwolf/">Github</a>. Feel free to fork the repo and contribute.</p>

<h3>Get in Touch</h3>
<p>Lately we have been hanging out on Matrix chat which is available via web <a href="https://riot.im/app/#/room/#aardwolf-discussion:matrix.org">https://riot.im/app/#/room/#aardwolf-discussion:matrix.org</a>.<br />Or on your favourite client: <strong>#aardwolf-discussion:matrix.org</strong><br />
We also have a forum <a href="http://wearesocial.tech">WeAreSocial.tech</a> (you can login with your GitHub account), and a <a href="https://lists.riseup.net/www/info/aardwolf-development">mailing list</a>, both of which have been super quiet.</p>

<h3>Donating to the cause</h3>			
<p>For those who would prefer to help us in a monetary fashion you may do so through LiberaPay: <a href="https://liberapay.com/Aardwolf">https://liberapay.com/Aardwolf</a><br />
Please do not be afraid to ask questions. There are a lot of things that Banjo would appreciate help with. Even if you do not know Rust, there may be other ways to participate! :D</p>

<h4>Credits</h4>			
<p>Website design by Steve Ivy - <a href="https://www.monkinetic.blog/">https://www.monkinetic.blog/</a><br />
  Logo by Alex Daily - <a href="https://beepboop.one/@Alexis">https://beepboop.one/@Alexis</a> <br />
</p>
