<h3><em>Aardwolf powers social, connected communities with free software.</em></h3>

<p>Aardwolf is a new platform for creating new social networks, connected across the web. While existing social media sites work to funnel the world into a single shared experience (and advertising marketplace), we recognize that we are all individuals with different identities and interests.</p>

<p class=""><strong>Aardwolf is the engine behind a new Facebook-like social platform which is being actively developed.

<p>Aardwolf shares a philosophy and underlying protocols with <a href="http://joinmastodon.org">Mastodon</a>, a federated microblogging platform with over a 1000 independently-run servers, hosting more than a million active users.</p>

<h3>What's Different About Aardwolf?</h3>

<p>Aardwolf is a social platform, meaning that each server hosts it's own community of users who are posting, sharing pictures, links, etc. They are replying and &quot;liking&quot; each other's posts, and re-sharing the ones they like best.</p>

<h3>Get in Touch</h3>
<p>Lately we have been hanging out on Matrix chat which is available via web 
Banjo Fox - @banjofox@elekk.xyz
Raspathir - @raspathir@elekk.xyz
</p>

<h3>Donating to the cause</h3>			
<p>For those who would prefer to help us in a monetary fashion you may do so through LiberaPay: <a href="https://liberapay.com/Aardwolf">https://liberapay.com/Aardwolf</a><br />
Please do not be afraid to ask questions. There are a lot of things that Banjo would appreciate help with. Even if you do not know Rust, there may be other ways to participate! :D</p>

<h4>Credits</h4>			
<p>Website design by Steve Ivy - <a href="https://www.monkinetic.blog/">https://www.monkinetic.blog/</a><br />
</p>
