<h3><em>Social gaming is more fun when you Let the Dice Roll</em></h3>

<p>Let the Dice Roll is a podcast that focuses heavily on the more social aspects of gaming. Each week best friends, and co-hosts Raspathir, and Banjo try to tell a story or two about gaming sessions past. Where others might provide tips for how to improve, they usually teach what not to do. Most of the time, they try to provide some background about the game, but occasionally there are much longer forays into other areas of the roleplaying hobby. Thankfully they always return to the foibles, botches, and good old-fashioned fun of sharing a few tales about what happens when you Let the Dice Roll.</p>

<h3>Get in Touch</h3>
<p>Find us on the <a href="https://elekk.xyz">Mastodon</a> social network.
<p><strong>Banjo Fox</strong> - @banjofox@elekk.xyz<br/>
<strong>Raspathir</strong> - @raspathir@elekk.xyz</p>
</p>

<h3>Donating to the cause</h3>			
<p>Sharing the podcast, and leaving reviews are the best way to help, but we also accept cash doncations via Ko-Fi: <a href="https://ko-fi.com/banjofox">https://ko-fi.com/banjofox</a><br />
Don't worry, Banjo will share ;)</p>

<h3>Credits</h3>
<p>Website design by Steve Ivy - <a href="https://www.monkinetic.blog/">https://www.monkinetic.blog/</a><br />
</p>
