/*
AARDWOLF CSS
*/

body {
	background-color: #f0ebe2;
	border-top: 10px solid #3f1906;
	padding: 0;
	margin: 0;
	
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 16px;
}
a, a:link { color: #8b3307 }
a:visited { color: #008b82 } 
a:hover, a:active { color: #063f3b: text-decoration: underline;}

h2, h3 {
	color: #3f1906;
	font-size: 120%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600; 
}

#logotype {
	margin: 2em auto;
	background-image: url("/static/aardwolf-logo.png");
	background-repeat: no-repeat;
	background-position: 100% 30%;
	background-size: 150px 150px ;
	height: 150px;
	width: 255px;
	padding: 10px;
	padding-right: 150px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900; 
	margin-bottom: 2em;border: 0;
}

#logotype span#head {
	color: #3f1906;
	letter-spacing: -2px;
	font-size: 64px;
}
#logotype span#subhead {
	display: block;
	margin: 0 0;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
}


nav {
	width: 100%;
	padding: .25em 1em;
	color: #f0ebe2;
	background-color: #3f1906;
	border-bottom: 5px solid #008b82;
}
nav h3, nav h3 a {
	display: inline;
	font-weight: 700;
	font-weight: 700;
}
nav h3 a, nav a, nav a:link, nav a:hover, nav a:visited, nav a:active {
	color: #f0ebe2;
	font-size: 20px;
	margin: 0 2em 0 0 ;
	padding: 0;
}
nav a {
	text-decoration: none;
	font-weight: 200;
	font-size: 18px;
}

.content {
	margin: 1em 20%;
}

.footer {
	margin-top 4em;
}
